<h2>This Application Subscribe and send msessage over MQTT using the service</h2>
<div>
  <b>Host</b> : {{env.mqttHost}}
</div>
<div>
  <b>Port</b> : {{env.mqttPort}}
</div>
<div>
  <b>Topic</b> : sample
</div>
<h3>
  <label>Enter Message :</label>
  <input type="text" [(ngModel)]='txtMessage'/>
  <button (click) = 'onsendMessage()'>Send Message</button>
</h3>
<h3>sample topic subscribe at given host</h3>
<ul *ngFor='let msgObj of messageList'>
    <li>{{msgObj}}</li>
</ul>